.footer-1 {
  text-align: center;
  padding-top:40px;
  font-family:Verdana;
  color:rgb(255, 255, 255)
}
.main-text {
  text-align: center;
  padding-top:40px;
  font-family:Verdana;
  color:rgb(255, 255, 255)
}
body {
  background-color:rgb(18, 18, 18);
}
.perweb {
  color:#b2dce1;
  text-decoration: none;
}
.discord {
  color:rgb(208, 173, 226);
  text-decoration: none;
}
.github {
  color:rgb(208, 173, 226);
  text-decoration: none;
}
.privacy-policy {
  color:rgb(208, 173, 226);
  text-decoration: none;
}
.terms-of-service {
  color:rgb(208, 173, 226);
  text-decoration: none;
}
.sign {
  color:rgb(255, 255, 255);
}
.boagc {
  color:rgb(208, 173, 226);
  text-decoration: none;
}